main{
    background-image: url('../images/background.png');
    height: 100vh;
    background-size: 8%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.texto{
    width: 600px;
    color: #fff;
    padding: 50px;
}

.titulo{
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 30px;
}

.paragrafo{
    font-size: 15px;
    font-weight: 400;
}

.formulario{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.input{
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
}

.span{
    font-size: 15px;
    font-weight: 400;
}

.botao{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3CCC87;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.campo-vazio{
    border-color: red;
}

.campo-obrigatorio{
    font-size: 8px;
    color: red;
    margin-top: -15px;
    opacity: 0;
}

.campo-obrigatorio.ativo{
    opacity: 1;
}